
<style>
    .input-group{
        margin:10px;
    }
</style>
<pre ng-show="notify">{{notifyMsg}}</pre>

<table class="DashBoard" cellpadding="10" cellspacing="20px" ng-show="showContainer">
    <tr>
        <td><a href="#/dashboard/admin/updateProfile" class="boxes"><div class="dashBox">Update Profile</div></a></td>
        <td><a href="#/dashboard/admin/viewApplications" class="boxes"><div class="dashBox">View Applications</div></a></td>
        <td><a href="#/dashboard/admin/currentSession" class="boxes"><div class="dashBox">Current Session</div></a></td>
    </tr>
    <tr>
        <td><a href="#/dashboard/admin/testPapers" class="boxes"><div class="dashBox">Test Papers</div></a></td>
        <td><a href="#/dashboard/admin/Question Bank" class="boxes"><div class="dashBox">Question Bank</div></a></td>
        <td><a href="#/dashboard/admin/results" class="boxes"><div class="dashBox">Results</div></a></td>
    </tr>
</table>
