<div id="footer-push"></div>
</div>
<!-- footer -->
<div id="footer">
    <!-- shell -->
    <div class="shell">
        <div class="widgets">


            <div class="widget contact-widget">
                <h4>Contact Us</h4>
                <p class="address-ico">
                    IntelliGrape Software (P) Ltd<br>
                    SDF L-6, NSEZ,<br>
                    Noida Phase 2,<br>
                    India
                </p>

                <p class="phone-ico">
                    Phone : +91-120-6493668
                    Fax : +91-120-4207689


                </p>

            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end of widgets -->

        <!-- footer-bottom -->
        <div class="footer-bottom">
            <!-- footer-nav -->

            <!-- end of footer-nav -->
            <p class="copy">&copy; Intelligrape. Design by <a href="http://www.shahabahmadkhan.com" target="_blank">ShahabAhmadKhan.com</a></p>
        </div>
        <!-- end of footer-bottom -->
    </div>
    <!-- end of shell -->
</div>
<!-- end of footer -->
</body>
</html>
