<%- include header.ejs%>
<!-- shell -->
<div class="shell" >
    <!-- main -->
    <div class="main" data-ng-view>

        <!-- slider-holder -->
        <section class="slider-section">
            <h2 class="alignleft">Are You <strong>SMART ENOUGH </strong> To Be A <strong>NodeJS Developer?</strong> </h2>
            <a href="#/register" class="buy-btn">Apply Now</a>
            <div class="cl">&nbsp;</div>
            <!-- slider -->
            <div class="slider-holder">
                <span class="slider-shadow"></span>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="css/images/slide-img.jpg" alt="" />
                            <div class="slide-cnt">
                                <h3>NodeJS</h3>
                                <p>Is a server-side software system designed for writing scalable Internet applications, notably web servers.</p>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- end of slider -->
        </section>
        <!-- slider-holder -->


        <!-- featured -->
        <section>
            <h3 class="alignleft">You'll be working on :</h3>

            <div class="cl">&nbsp;</div>

            <div class="featured">
                <div class="entry">
                    <a href="#"><em></em>
                        <img src="css/images/html5.jpg" alt="" />
                        <span>HTML 5 & CSS 3</span>
                    </a>
                    <strong></strong>
                </div>
                <div class="entry">
                    <a href="#"><em></em>
                        <img src="css/images/mongo.jpg" alt="" />
                        <span>MongoDB</span>
                    </a>
                    <strong></strong>
                </div>

                <div class="entry">
                    <a href="#"><em></em>
                        <img src="css/images/angularjs.jpg" alt="" />
                        <span>AngularJS</span>
                    </a>
                    <strong></strong>
                </div>
                <div class="entry">
                    <a href="#"><em></em>
                        <img src="css/images/javascript.jpg" alt="" />
                        <span>JavaScript</span>
                    </a>
                    <strong></strong>
                </div>
                <div class="entry">
                    <a href="#"><em></em>
                        <img src="css/images/neo4j.jpg" alt="" />
                        <span>Neo4j Graph Database</span>
                    </a>
                    <strong></strong>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
        </section>
    </div>
    <!-- end of main -->
</div>
<!-- end of shell -->
<%- include footer.ejs%>
